
.homePage{
    height: 100vh;
    text-align: center;
    background: url('../images/enso-hero.svg') no-repeat fixed left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

    @media screen and (max-width: 1000px){
        background: url('../images/enso.svg') no-repeat center;
        background-size: 150vmax;

        .homePage-content h1, .homePage-content h2{
            font-size: 3rem;
        }
    }

    .homePage-content{
       margin: 0 1rem;

    }
    h1, h2 {
        font-size: 4rem;
        font-weight: 700;
    
    }
    
    h2{
        background-color: $dark;
        color: $primary;
        padding: .2rem;
        display: block;
    }

}
