
.homePage{
    height: 100vh;
    text-align: center;
    background: url('../utils/enso-hero.svg') no-repeat fixed left;
    background-position: fixed;
    transition: 0.3s ease-out;

    .homePage-content{
        position: absolute;
        top: 55%;
        left: 46%;
        // transform: translate(0, -50%);
    }
    h1, h2 {
        font-size: 4rem;
        font-weight: 700;
        
    
        span{
            color: $primary-color;
        }
    }
    
    h2{
        background-color: $dark;
        color: $primary;
        padding: .2rem;
        display: block;
    }

}
