@import 'utils/reset';
@import 'utils/fonts';
@import 'utils/colors';
@import './navigation';
@import './homePage.scss';
@import './skills.scss';
@import './projects.scss';
@import './contact.scss';
@import './footer.scss';

body {
    font-family: $primary-font;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
    border-bottom: 6rem $primary solid;
    border: 3.5rem $primary solid;
    background-color: $secondary;
    color: $dark;
    // filter:hue-rotate(180deg);

  }

  body::-webkit-scrollbar {
    width: 1rem;
  }
  body::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }