.skills-content{
    height: 100vh;
    text-align: center;
    display:  flex;
    justify-content: space-between ;
    align-items: center;
    // margin: 0 4rem;


    .skills-left{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 17rem;
        font-weight: 800;
        color: $dark;
        margin: 0 4rem;

        @media screen and (max-width: 1440px) {
            font-size: 13rem    ;
        }

        @media screen and (max-width: 1160px) {
            font-size: 10rem;
            border-left: .5rem solid $primary-color;
        }
    
    }


    .skills-right::before{
        content: 'SCROLL ME';
        color: $primary-color;
        animation: scroll 2s infinite ease-in;
    }
    @keyframes scroll {
        from{
            color: $secondary;
        }
        to{
            color: $primary-color;
        }
    }
    @media screen and (max-width: 1160px){
        .skills-right::before{
            display: none;
        }
    }
    .skills-right{
        width: 80vw;
        margin: 0 4rem;
        padding: 2rem;
        color: $dark;
        height: 60%;
        overflow-y: scroll;
        text-align: right;
        font-weight: 800;
        font-size: 5rem;
        transform: perspective(80rem) rotateY(-45deg) translateX(-3rem);

        
        @media screen and (max-width: 1160px) {
                text-align: right;
                display:flex;
                flex-direction: column;
                transform: none;
                overflow: initial;
                font-size: 3rem;
                padding: 0;
                margin: 0 2rem;

        }
       
    
    
        h2{
            margin-bottom: 1rem;

            @media screen and (max-width: 1160px) {
                margin-bottom: .5rem;
            }

        }
    
        h2:hover{
            // transform: scale(1.1) translate(-3rem);
            color: $secondary;
            text-shadow: -1px -1px 0 $dark, 1px -1px 0 $dark, -1px 1px 0 $dark, 1px 1px 0 $dark;
        }
    }
    
    .skills-right::-webkit-scrollbar{
        width: .5rem;
    }
    .skills-right::-webkit-scrollbar-thumb{
        background-color: $primary-color;
    }
}




.preskills-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media screen and (max-width: 900px) {
        display: none;
    }

    .preskills-left, .preskills-right{
        font-size: 24rem;
        font-weight: 800;

        @media screen and (max-width: 1360px) {
            font-size: 18rem;
        }
    }
    .preskills-right{
        display: flex;
        align-items: center;
        
        .square{
            width: 32rem;
            height: 19rem;
            background-color: $primary-color;

            @media screen and (max-width: 1360px) {
                width: 26rem;
                height: 14rem;
            }
        }
    }
}