.skills-content{
    height: 100vh;
    text-align: center;
    display:  flex;
    justify-content: space-between ;
    align-items: center;
    margin: 0 4rem;
}


.skills-left{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 17rem;
    font-weight: 800;
    color: $primary-grey;

}
.skills-right{
    color: $primary-light;
    text-align: right;
    font-weight: 800;
    font-size: 6.5rem;
    letter-spacing: .5rem;
    transform: perspective(80rem) rotateY(-45deg) translateX(-2rem);
    // border-right: .3rem solid $primary-yellow;

    h2{
        margin-bottom: 1rem;
    }

    h2:hover{
        transform: scale(1.2) translate(-3rem);
        color: $secondary-dark;
        text-shadow: -1px -1px 0 $primary-light, 1px -1px 0 $primary-light, -1px 1px 0 $primary-light, 1px 1px 0 $primary-light;
    }
}