.skills-content{
    height: 100vh;
    text-align: center;
    display:  flex;
    justify-content: space-between ;
    align-items: center;
    // margin: 0 4rem;

    .skills-left{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 17rem;
        font-weight: 800;
        color: $dark;
        margin: 0 4rem;
    
    }
    .skills-right::before{
        content: 'SCROLL ME';
        color: $primary-color;
        animation: scroll 2s infinite ease-in;
    }
    @keyframes scroll {
        from{
            color: $secondary;
        }
        to{
            color: $primary-color;
        }
    }
    .skills-right{
        width: 80vw;
        margin: 0 4rem;
        padding: 2rem;
        color: $dark;
        height: 60%;
        overflow-y: scroll;
        text-align: right;
        font-weight: 800;
        font-size: 5rem;
        transform: perspective(80rem) rotateY(-45deg) translateX(-3rem);
    
    
        h2{
            margin-bottom: 1rem;
        }
    
        h2:hover{
            // transform: scale(1.1) translate(-3rem);
            color: $secondary;
            text-shadow: -1px -1px 0 $dark, 1px -1px 0 $dark, -1px 1px 0 $dark, 1px 1px 0 $dark;
        }
    }
    
    .skills-right::-webkit-scrollbar{
        width: .5rem;
    }
    .skills-right::-webkit-scrollbar-thumb{
        background-color: $primary-color;
    }
}




.preskills-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .preskills-left, .preskills-right{
        font-size: 24rem;
        font-weight: 800;
    }
    .preskills-right{
        display: flex;
        align-items: center;
        
        .square{
            width: 32rem;
            height: 19rem;
            background-color: $primary-color;
        }
    }
}